<div class= "contianer-fluid">
		<div class= 'pending-homepage row'> 
			<h2> Items Pending Approval </h2> 
			<hr>
				<%= render partial: 'pending_approval', locals: {pending_approvals: @pending_approvals} %>
		</div>
</div>



<div class= "contianer-fluid">
		<div class= 'pending-homepage row'> 
			<h2> Confirmation Log </h2> 
			<hr>
				<%= render partial: 'confirmation_log', locals: {recent_audit_items: @recent_audit_items} %>

				<div class= "clearfix"></div>
				
				<hr>

				<%= link_to "View all items", audit_logs_path, class: "btn btn-danger " %>
		</div>
</div>
