<div class= 'container-fluid'>
	<div class='row'>
		<div class='pending-homepage jumbotron employee-blocks'>
			<h3> Pending Confirmation </h3>

			<%= render partial: 'pending_audit_confirmation', locals: {pending_audit_confirmation: @pending_audit_confirmation}  %>
		</div>
		<div class='pending-homepage jumbotron employee-blocks'>
			asdf
			</div>
	</div>
</div>
